node_modules
vendor
.git
.env
.env.backup
.env.production
.phpunit.result.cache
Dockerfile
docker-compose.yml
.docker
docker/*/Dockerfile
npm-debug.log
yarn-error.log
.idea
.vscode
*.swp
*.swo
*~
.DS_Store
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
!storage/logs/.gitignore
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/views/.gitignore
!bootstrap/cache/.gitignore
